/*FONTS
font-family: 'Playfair Display', serif;
font-family: 'Open Sans', sans-serif;
*/

/*GLOBALS*/
:root {
    --main-red-color: #C73439;
    --dark-red-color: #7B1317;
    --main-white-color: #F8F8F8;
    --white-text-color: #fff;
    --dark-text-color: #474747;
    --footer-background: #313131;
}

/*RESET*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62,5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/*---NAVIGATION---*/
nav {
    background-color: var(--main-white-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 1rem;
    position: sticky;
    top: 0;
}

.nav-logo {
  width: 6rem;
}

.logo-link {
    line-height: 0;
}

.nav-menu {
    display: flex;
}

.nav-menu li a {
    font-size: 0.9rem;
    color: var(--dark-text-color);
    font-weight: bold;
    display: inline-block;
    padding: 1.2rem 1.5rem;
}

.nav-menu li a:hover {
    background-color: var(--main-red-color);
    color: var(--white-text-color);
}

/*hamburger*/
nav label {
    display: none;
}

nav input {
    display: none;
}

.hamburger-menu {
    width: 2.7rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.line {
    background-color: var(--dark-text-color);
    width: 100%;
    height: 0.4rem;
    transition: all 0.1s ease-out;
}

.toggle .line1 {
    transform: rotateZ(-45deg) translate(-0.8rem, 0.6rem);
    background-color: var(--main-red-color);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotateZ(45deg) translate(-0.8rem, -0.6rem);
    background-color: var(--main-red-color);
}

/*---FOOTER---*/
footer {
    background-color: var(--footer-background);
    justify-content: space-around;
    padding: 2rem;
}

footer ul, footer, .social-container, .copy-container {
    display: flex;
    align-items: center;
}

footer, .social-container a {
    color: var(--white-text-color);
}

footer .social-container p {
    margin-right: 2rem;
}

footer .social-container li a {
    margin-right: 1.5rem;
}

footer .social-container li a:hover {
    color: var(--main-red-color);
}

.copy-container {
    font-size: 0.9rem;
}






/*---MEDIA QUERIES---*/
@media only screen and (max-width: 700px) {
    /*---NAVIGATION---*/
    nav {
        justify-content: space-between;
        padding: 1rem 1.8rem;
    }
    .nav-menu {
        flex-basis: 100%;
        flex-direction: column;
        padding: 2rem 0 2rem 0;
        display: none;
    }
    .nav-menu li {
        border-bottom: 2px solid var(--main-red-color);
        width: 100%;
        text-align: center;
    }
    .nav-menu li:last-child {
        border-bottom: none;
    }
    .nav-menu li a {
        width: 100%;
        font-size: 1.4rem;
        padding: 2rem 0;
    }
    /*hamburger*/
    nav label {
        display: block;
        cursor: pointer;
    }
    #hamburger:checked + .nav-menu {
        display: flex;
    }

    /*---FOOTER---*/
    footer, .social-container {
        flex-direction: column;
    }
    footer .social-container p, footer .social-container li  {
        margin: 0 1rem 2rem 1rem;
    }
    footer .social-container li a {
        margin-right: 0;
    }
    footer .social-container ul {
        margin-bottom: 2rem;
    }
}
